


<section class="bg-white">
  <div class="pb-4 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">Contact Us</h2>
    <p class="mb-4 lg:mb-4 font-light text-center text-gray-500 sm:text-xl">Have a game you think we missed? Spotted a bug on the site? Or maybe you have a partnership idea? We'd love to hear from you.</p>

    <form action="https://formspree.io/f/mpwrvabe" method="POST" class="space-y-6">

      <div class="grid gap-6 sm:grid-cols-2">
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
          <input type="text" id="first_name" name="first_name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John" required>
        </div>
        <div>
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">Last name</label>
          <input type="text" id="last_name" name="last_name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Doe" required>
        </div>
      </div>

      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
        <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@example.com" required>
      </div>

      <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
        <input type="text" id="subject" name="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="e.g., Game Suggestion, Site Feedback, etc." required>
      </div>

      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
        <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Tell us all about it..."></textarea>
      </div>

      <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 sm:w-fit hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Send message</button>

    </form>
  </div>
</section>
